name: Test deployment

on:
  pull_request:
    branches: [main, develop]
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: _site/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: _site
      - name: Test build website
        run: npm run build
        working-directory: _site